PORT=3000
DATABASE_URL="file:./dev.db"
RAWG_API_KEY=""
FUSEKI_QUERY_ENDPOINT="http://localhost:3030/gamefeel/query"
FUSEKI_UPDATE_ENDPOINT="http://localhost:3030/gamefeel/update"
VITE_API_BASE_URL="/api"
